$verde-oscuro: #004f52;
$verde: #008489;
$verde-claro: #cce6e7;
$gris-oscuro: #67666e;
$gris: #747474;
$gris-claro: rgb(235, 235, 235);;
$rojo: #b53f2a;
$azul: #5867dd;
$azul-hover: #4859da;
$amarillo: #ffb822;
$fuente: 'Raleway', sans-serif;