@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'base/reset';
@import 'base/typography';

@import 'components/buttons';




// Animations

.spinner-white {
    height: 16px;
    width: 16px;
    margin-right: 5px;
    animation: rotate 0.8s infinite linear;
    border: 3px solid #fff;
    border-right-color: transparent;
    border-radius: 50%;
}
  
@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}


body {
    font-family: $fuente;
    color: $gris-oscuro;
}

hr {
    border: none;
    height: 1px;
    background-color: $gris-claro;
    margin: 0 10px;
}

h1 {
    font-size: 26px;
    margin: 0 10px;
}

h2 {
    font-size: 20px;
    margin: 0 10px;
    line-height: 1.5;
}

p {
    margin: 0 10px;
}

b {
    color: $azul;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    @include flex(row, space-between, center);
    color: white;
    border-bottom: 0.8px solid rgba(255,255,255,.3);

    .logo-white {
        height: 50px;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translateX(-50%);
    }
  
    .user {
        @include flex(row, flex-start, center);
        margin-right: 0;
        padding: 6px 10px 4px 4px;
        position: relative;
  
        span {
            font-size: 14px;
            padding: 8px;
            position: relative;
  
            span.alert {
              position: absolute;
              top: -1px;
              right: -1px;
              font-size: 12px;
              background-color: #b53f2a;
              height: 20px;
              width: 20px;
              border-radius: 15px;
              @include flex(row, center, center);
            }
        }
    }
  
    .user:hover {
      background-color: rgba(255,255,255,.1);
      border-radius: 4px;
      cursor: pointer;
    } 
  
    .dropdown {
      display: none;
      position: absolute;
      top: 60px;
      right: 0;
      min-width: 300px;
      z-index: 10;
      padding: 20px 0;
  
      .menu-user {
        width: 100%;
        position: absolute;
        padding: 20px;
        box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
        background-color: #1e1e2d;
        color: #67666e;
  
        .item {
          color: #a2a3b7;
          padding: 20px 0;
          cursor: pointer;
          position: relative;
  
          span.alert {
            position: absolute;
            top: 15px;
            right: 10px;
            font-size: 16px;
            background-color: #b53f2a;
            height: 30px;
            width: 30px;
            border-radius: 25px;
            @include flex(row, center, center);
          }
  
        }
  
        hr {
          border: none;
          height: 1px;
          background-color: #a2a3b7d0;
          margin: 0;
        }
    
        .item:hover {
          color: white;
        }
  
        button {
          background-color: white;
          color: #1e1e2d;
          margin: 10px 0;
        }
      
      }
    
      .menu-user:before, .menu-user:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 100%;
        width: 0;
        height: 0;
      }
  
      .menu-user:after {
        right: 20px;
        border: 15px solid transparent;
        border-bottom-color: #1e1e2d;
      }
  
    }
  
    .user:hover .dropdown {
      // top: 80px;
      // right: 0;
      display: inline;
    }
  
  }
  
  // Burger menu
  
  .burger {
      display: block;    
      z-index: 100;
    }

  .burger .bar {
      height: 3px;
      width: 35px;
      background-color: white;
      margin: 8px auto;
    }
  
  .burger .up,
  .burger .middle,
  .burger .down {
      transition: all 0.7s ease;
  }
  
  .burger.open-menu .bar.up {
      transform: translateY(11px) rotateZ(45deg);
      background-color: white;
  }
  .burger.open-menu .bar.middle {
      width: 0;
  }
  .burger.open-menu .bar.down {
      transform: translateY(-11px) rotateZ(-45deg);
      background-color: white;
  }
  
  .burger:hover {
      cursor: pointer;
      opacity: 0.8;
  }
  
  .menu-container {
      width: 360px;
      height: 100vh;
      position: absolute;
      top: 0;
      left: -360px;
      z-index: 75;
      background: #1e1e2d;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 100px 20px 20px;
  
      .item {
        color: #a2a3b7;
        padding: 20px 0;
        cursor: pointer;
      }
  
      .item:last-child {
        color: #a2a3b7;
        font-size: 14px;
        padding: 20px 0;
        position: absolute;
        bottom: 0;
        left: 20px;
      }
  
      hr {
        border: none;
        height: 1px;
        background-color: #a2a3b7d0;
        margin: 0;
      }
  
      .item:hover {
        color: white;
      }
  
    }
  
  .menu-container.open-menu {
    left: 0;
  }

// Layout

.background {
    width: 100%;
    background-color: #f9f9fc;
    min-height: 100vh;
}

.friso-fondo {
    width: 100%;
    height: 220px;
    background-image: url('../assets/friso.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    @include flex(row, space-between, flex-end);   
}

.friso {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 20px 60px;
    color: white;
    @include flex(row, space-between, flex-start);   
}

.breadcrumb {
    margin: 10px 10px 0;
    
    span {
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        line-height: 1.5;
    }

    span:hover {
        color: white;
    }
    
    span.active {
        color: white;
        cursor: default;
    }
}

.contenedor {
    width: 100%;
    margin: -60px auto 0;
    padding: 0 0 20px;
    @include flex(row, flex-start, stretch);
    max-width: 1440px;
}

.contenedor.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 20px;
    justify-items: center;
}

@media(max-width: 720px)  {
    .contenedor {
        flex-direction: column;
    }

    .breadcrumb {
        display: none;
    }


}

.columna {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.fila {
    display: flex;
    margin: 20px 0;
}

.centrada {
    justify-content: center;
    align-items: center;
}

.derecha {
    justify-content: flex-end;
    align-items: center;
}

.space {
    justify-content: space-between;
    align-items: center; 
}

// Messages

.message {
    padding: 10px 20px;
    border-radius: 4px;
    color: $gris-oscuro;
    background-color: #ffffff;
    @include flex(row, flex-start, center);

    img {
        margin-right: 10px;
    }

    &.success {
        border: 1px solid $verde;
    }
    
    &.warning {
        border: 1px solid $amarillo;
    }
    
    &.danger {
        border: 1px solid $rojo;
    }

}



// Badgets

.badget {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    color: white;
    border-radius: 15px;
    margin: 0 10px;
}

.badget.success {
    background-color: $verde;
}

.badget.warning {
    background-color: $amarillo;
}

// Cards

.card {
    width: 360px;
    min-height: 380px;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
    position: relative;

    header {
        padding-right: 10px;
    }

    .icon-big {
        margin: 40px auto;
        display: block;
        width: 30%;
    }

    footer {
        width: 100%;
        padding: 0 10px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}


.card.list {

    h2 {
        padding: 10px 0;
    }

    width: calc(60% - 40px);

    hr {
        margin: 0;
    }

    .fila {
        margin: 0;
        padding: 20px;
        transition: background-color 400ms ease-in-out;

        div {
            display: flex;
            align-items: center;

            span {
                border: 1px solid $gris-oscuro;
                height: 30px;
                width: 30px;
                min-width: 30px;
                border-radius: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 10px;
            }

            span.check {
                color: white;
                background-color: $verde;
            }
        }
        
        div.eval {
            color: $azul;
        }

    }

    .fila:hover {
        cursor: pointer;
        background-color: $gris-claro;
    }

    .fila div.eval span {
        border: 1px solid $azul;
    }

    .fila.check div span {
        border: 1px solid $verde;
        color: white;
        background-color: $verde;
    }

}

.card.side {

    width: calc(40% - 40px);

    h2 {
        padding: 10px 0;
    }
}


.card.jumbo {

    width: calc(100% - 40px);
    min-height: 660px;
    position: relative;

    h2 {
        padding: 10px 0;
    }

    .fila.space {
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }

}

@media(max-width: 720px) {

    .contenedor {
        flex-direction: column;
    }
    .card.list {
        width: calc(100% - 40px);
    }
    .card.side {
        width: calc(100% - 40px);
    }
}

// Forms

input {
    font-family: $fuente;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    border-radius: 4px;
    color: $gris-oscuro;
    background-color: rgba(247,247,249,.7);
    background-repeat: no-repeat;
    background-position: 10px 14px;
    background-size: 20px 20px;
    border-radius: 5px;
    margin: 0 10px;
    padding: .8em 1em .8em 2.5em;
}

input::placeholder {
    color: $gris;
    font-family: $fuente;
}

input.user {
    background-image: url('../assets/user.svg');
}

input.email {
    background-image: url('../assets/mail.svg');
}

input.password {
    background-image: url('../assets/unlock.svg');
}

input:focus {
    outline: none;
}



// Overlay

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(30, 30, 45, 0.88);
    width: 100vw;
    height: 100vh;
    z-index: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Lessons

.lesson {
    
    display: none;
    padding: 10px;

    h3 {
        padding: 10px 0;
    }

    p {
        padding: 10px 0;
        line-height: 1.5;
    }

    .float-right {
        float: right;
        width: 40%;
        margin: 20px;
    }

}

.lesson.open {

    display: block;

}

// Video

.contenedor-video {
    padding: 40px 10px;
    display: flex;

    video {
        width: 640px;
    }

    .descripcion-video {
        margin-left: 10px;
        padding: 10px 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        border-bottom: 1px solid $verde;

        .duracion {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            span {
                font-size: 20px;
            }
        }
    }
}

