<div class="background">
    <app-breadcrumb></app-breadcrumb>
    <div class="contenedor">
        <div class="card list">
            <header>
                <h2>Unidades</h2>
            </header>
            <hr>
            <div class="fila space check" routerLink="/cursos/tableau/tableau-introduccion">
                <div>
                    <span>1</span> Introducción a Tableau Software
                </div>
                <img src="../../../assets/check-circle-big.svg">
            </div>
            <hr>
            <div class="fila space" (click)="loadScorm();">
                <div>
                    <span>2</span> Instalación de Tableau y conexión a fuentes de datos
                </div>
                <img src="../../../assets/play-circle.svg">
            </div>
            <hr>
            <div class="fila space">
                <div>
                    <span>3</span> Visualización de datos: medidas y dimensiones de un volumen de datos
                </div>
                <img src="../../../assets/play-circle.svg">
            </div>
            <hr>
            <div class="fila space">
                <div class="eval">
                    <span>?</span> Evaluación intermedia
                </div>
                <img src="../../../assets/edit.svg">
            </div>
            <hr>
            <div class="fila space">
                <div>
                    <span>4</span> Edición y configuración de gráficos
                </div>
                <img src="../../../assets/play-circle.svg">
            </div>
            <hr>
            <div class="fila space">
                <div>
                    <span>5</span> Uniones y combinaciones de diferentes fuentes de datos
                </div>
                <img src="../../../assets/play-circle.svg">
            </div>
            <hr>
            <div class="fila space">
                <div>
                    <span>6</span> <i>Dashboards &nbsp;</i> en Tableau
                </div>
                <img src="../../../assets/play-circle.svg">
            </div>
            <hr>
            <div class="fila space">
                <div class="eval">
                    <span>?</span> Evaluación final
                </div>
                <img src="../../../assets/edit.svg">
            </div>
        </div>
        <div class="card side">
            <header>
                <h2>Seguimiento</h2>
            </header>
            <hr>
        </div>
    </div>
</div>