<div class="contenedor fondo-gris">
    <app-friso></app-friso>
    <div class="contenido para-friso grid">
        <div class="card" *ngFor="let curso of cursos">
            <div class="fila space">
                <h2>{{curso.titulo}}</h2>
                <img src="assets/unlock-big.svg">
            </div>
            <hr>
            <img [src]="curso.imagen" alt="">
            <div class="fila space">
                <span class="badge warning"> <img src="assets/calendar.svg">&nbsp;31/10/19</span>
                <span class="badge success">67 %</span>
                <button routerLink="/cursos/tableau">Continuar</button>
            </div>
        </div>
        
    </div>
</div>