<div class="background">
    <app-breadcrumb></app-breadcrumb>
    <div class="contenedor grid">
        <div class="card">
            <header class="fila space">
                <h2>Business Intelligence con Tableu Software</h2>
                <img src="assets/unlock-big.svg">
            </header>
            <hr>
            <img src="assets/tableau.svg" alt="">
            <footer class="fila space">
                <span class="badget warning"> <img src="assets/calendar.svg">&nbsp;31/10/19</span>
                <span class="badget success">67 %</span>
                <button routerLink="/cursos/tableau">Continuar</button>
            </footer>
        </div>
        <div class="card">
            <header class="fila space">
                <h2>Metodologías Ágiles con SCRUM</h2>
                <img src="../../../assets/lock.svg">
            </header>
            <hr>
            <img src="assets/scrum.svg" alt="">
            <footer class="fila derecha">
                <button>Comenzar</button>
            </footer>
        </div>
        <div class="card">
            <header class="fila space">
                <h2>Gestión de equipos con Microsoft Teams</h2>
                <img src="assets/lock.svg">
            </header>
            <hr>
            <img src="assets/teams.svg" alt="">
            <footer class="fila derecha">
                <button>Comenzar</button>
            </footer>
        </div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
</div>